@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.light {
		@apply bg-bw-50;
		@apply text-bw-950;
	}
	.dark {
		@apply bg-bw-950;
		@apply text-bw-50;
	}
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}
body {
	min-height: 100%;
}
